---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  
  <style>
    .wrapper {
      display: block;
    }
    .skillset{
        .skill-level {
          display: block;
        }
      }
  </style>

  <body>
    <div class="wrapper">
      <div class="main-wrapper">
        
        <!-- Encabezado con Nombre y Contacto -->
        <div class="header">
          <h1>{{ site.data.data.sidebar.name }}</h1>
          <p>{{ site.data.data.sidebar.tagline }}</p>
          <p>Email: {{ site.data.data.sidebar.email }} | Phone: {{ site.data.data.sidebar.phone }}</p>
          <p>Website: {{ site.data.data.sidebar.website }} | LinkedIn: linkedin.com/in/{{ site.data.data.sidebar.linkedin }}</p>
        </div>

        <!-- Secciones principales con includes -->
        {% include career-profile.html %}
        {% include skills.html %}
        {% include experiences.html %}
        {% include education.html %}
        {% include certifications.html %}
        {% include language.html %}

      </div>
    </div>
  </body>
</html>
